@import url('https://fonts.googleapis.com/css2?family=Itim&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    background-color: var(--color-base-200);
    font-family: "Mali", sans-serif;
}

.font-bold {
    font-family: "Itim", sans-serif;
}