@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "toonstorytheme";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: #ffebb7;
    --color-base-200: #ffd0b8;
    --color-base-300: #d7a1a7;
    --color-base-content: oklch(0% 0 0);
    --color-primary: #e5abaf;
    --color-primary-content: oklch(0% 0 0);
    --color-secondary: oklch(64% 0.222 41.116);
    --color-secondary-content: oklch(98% 0.016 73.684);
    --color-accent: oklch(59% 0.145 163.225);
    --color-accent-content: oklch(97% 0.021 166.113);
    --color-neutral: #FF869A;
    --color-neutral-content: oklch(0% 0 0);
    --color-info: oklch(70% 0.165 254.624);
    --color-info-content: oklch(28% 0.091 267.935);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(26% 0.051 172.552);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(27% 0.077 45.635);
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 1rem;
    --radius-field: 1rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 1;
}

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
